
.card-sysinfo {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 240px;
  width: auto;
  height: auto;
  background-color: #444;
  border-radius: 20px;
}

.card-sysinfo .labelbox {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  height: 100%;
  padding: 15px;
  /* TEMP */
  color: var(--color-text);
}

.labelbox .sys-label {
  font-size: clamp(22px, 1.6vw, 32px);
}

.labelbox .sys-text {
  font-size: clamp(14px, 1vw, 20px);
}