
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal .label {
  color: var(--color-text);
}

.modal-content {
  background-color: #111;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

.modal-content form {
  display: flex;
  flex-direction: column;
}

.modal-content .label {
  font-size: 22px;
  margin-bottom: 10px;
}

.modal-content input[type="text"] {
  font-size: 16px;
  padding: 15px 10px;
  border: 1px solid #777;
  color: #eee;
  background-color: var(--color-background-base);
  border-radius: 5px;
  margin-bottom: 5px;
}

.modal-content button {
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4a90e2;
  color: #eee;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-top: 8px;
  margin-bottom: -5px;
}

.modal-content button:hover {
  background-color: #357bd8;
}

.modal-content .validation-message {
  color: orange;
  font-size: 0.8em;
  text-align: center;
}
